<%= form_for(citizen, method: citizen.new_record? ? :post : :put,
             html: { class: "grid gap-5", data: { controller: "citizen", turbo: false } }) do |f| %>
  <%= render partial: "components/form/inputs/text_field", locals: { f: f, name: :name, attrs: {} } %>
  <%= render partial: "components/form/inputs/text_field", locals: { f: f, name: :cpf, attrs: { data: { masks_target: 'cpf' } } } %>
  <%= render partial: "components/form/inputs/text_field", locals: { f: f, name: :cns, attrs: {} } %>
  <%= render partial: "components/form/inputs/email_field", locals: { f: f, name: :email, attrs: { data: { masks_target: 'email' } } } %>
  <%= render partial: "components/form/inputs/text_field", locals: { f: f, name: :phone, attrs: { data: { masks_target: 'phone' } } } %>
  <%= render partial: "components/form/label", locals: { f: f, name: :state_id } %>
  <%= render partial: "components/form/select", locals: {
    f: f,
    name: "citizen[state_id]",
    collection: states,
    selected: citizen.state_id,
    attrs: { data: { action: "change->citizen#handleStateChange" } }
  } %>
  <%= render partial: "components/form/label", locals: { f: f, name: :city_id } %>
  <%= render partial: "components/form/select", locals: {
    f: f,
    name: "citizen[city_id]",
    collection: cities,
    selected: citizen.city_id,
    attrs: {}
  } %>
  <%= render partial: "components/form/label", locals: { f: f, name: :active } %>
  <%= render partial: "components/form/inputs/checkbox", locals: { f: f, name: :active, attrs: {} } %>

  <div class="flex">
    <%= render partial: "components/form/button", locals: { f: f, name: t("actions.save"), type: "submit" } %>
  </div>
<% end %>