<%= form_for(citizen, method: citizen.new_record? ? :post : :put,
             html: { class: "grid", data: { controller: "citizen", turbo: false } }) do |f| %>
  <div class="mb-5">
    <%= render partial: "components/form/label", locals: { f: f, name: :name } %>
    <%= render partial: "components/form/inputs/text_field", locals: { f: f, name: :name, attrs: {} } %>
  </div>
  <div class="mb-5">
    <%= render partial: "components/form/label", locals: { f: f, name: :cpf } %>
    <%= render partial: "components/form/inputs/text_field", locals: { f: f, name: :cpf, attrs: { data: { masks_target: "cpf" } } } %>
  </div>
  <div class="mb-5">
    <%= render partial: "components/form/label", locals: { f: f, name: :cns } %>
    <%= render partial: "components/form/inputs/text_field", locals: { f: f, name: :cns, attrs: {} } %>
  </div>
  <div class="mb-5">
    <%= render partial: "components/form/label", locals: { f: f, name: :email } %>
    <%= render partial: "components/form/inputs/email_field", locals: { f: f, name: :email, attrs: { data: { masks_target: "email" } } } %>
  </div>
  <div class="mb-5">
    <%= render partial: "components/form/label", locals: { f: f, name: :phone } %>
    <%= render partial: "components/form/inputs/text_field", locals: { f: f, name: :phone, attrs: { data: { masks_target: "phone" } } } %>
  </div>

  <%= f.fields_for :address do |ff| %>
    <div class="mb-5">
      <%= render partial: "components/form/label", locals: { f: ff, name: :zipcode } %>
      <%= render partial: "components/form/inputs/text_field", locals: { f: ff, name: :zipcode, attrs: { data: { masks_target: "zipcode" } } } %>
    </div>
    <div class="mb-5">
      <%= render partial: "components/form/label", locals: { f: ff, name: :street } %>
      <%= render partial: "components/form/inputs/text_field", locals: { f: ff, name: :street, attrs: {} } %>
    </div>
    <div class="mb-5">
      <%= render partial: "components/form/label", locals: { f: ff, name: :complement } %>
      <%= render partial: "components/form/inputs/text_field", locals: { f: ff, name: :complement, attrs: {} } %>
    </div>
    <div class="mb-5">
      <%= render partial: "components/form/label", locals: { f: ff, name: :neighbourhood } %>
      <%= render partial: "components/form/inputs/text_field", locals: { f: ff, name: :neighbourhood, attrs: {} } %>
    </div>
    <div class="mb-5">
      <%= render partial: "components/form/label", locals: { f: ff, name: :ibge_code } %>
      <%= render partial: "components/form/inputs/text_field", locals: { f: ff, name: :ibge_code, attrs: {} } %>
    </div>
    <div class="mb-5">
      <%= render partial: "components/form/label", locals: { f: ff, name: :state_id } %>
      <%= render partial: "components/form/select", locals: {
        f: f,
        name: "citizen[address_attributes][state_id]",
        collection: states,
        selected: ff.object.state_id,
        attrs: { data: { action: "change->citizen#handleStateChange" } }
      } %>
    </div>
    <div class="mb-5">
      <%= render partial: "components/form/label", locals: { f: ff, name: :city_id } %>
      <%= render partial: "components/form/select", locals: {
        f: f,
        name: "citizen[address_attributes][city_id]",
        collection: cities,
        selected: ff.object.city_id,
        attrs: {}
      } %>
    </div>
  <% end %>

  <div class="mb-5">
    <%= render partial: "components/form/label", locals: { f: f, name: :active } %>
    <%= render partial: "components/form/inputs/checkbox", locals: { f: f, name: :active, attrs: {} } %>
  </div>
  <div class="flex">
    <%= render partial: "components/form/button", locals: { f: f, name: t("actions.save"), type: "submit" } %>
  </div>
<% end %>